.admin-courses {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-items: space-between;
    flex-wrap: nowrap;
    gap: 1rem;

    .left {
        flex: 1;
        min-width: 950px;

        .dashboard-content {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 10px;
            margin-left: 10px;
        }
    }

    .right {
        right: 20px;
        position: sticky;
        top: 100px;

        .course-form {
            margin: 20px;
            background-color: #fff;
            padding: 30px;
            background-repeat: 10px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
            text-align: center;
            width: 300px;

            h2 {
                font-size: 24px;
                color: #8a4baf;
                margin-bottom: 15px;
            }

            form {
                text-align: left;

                label {
                    display: block;
                    margin-bottom: 5px;
                    font-style: 15px;
                    color: #333;
                }

                input,
                select {
                    width: 92%;
                    padding: 10px;
                    margin-bottom: 15px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                }
            }
        }
    }
}