.profile{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    width: 300px;
    margin: 185px auto;

    @media (max-width: 768px){
        padding: 10px;
        width: 80%;
        margin: 90px auto;
    }

    .profile-info{
        text-align: left;
        margin-top: 15px;

        p{
            margin-bottom: 10px;
            color: #333;

            strong{
                color: #8a4baf  ;
            }
        }
    }
}

.logo-txt{
    align-items: center; 
    display: flex; 
    gap: 10px;
}

.logout-btn{
    background-color: red;
}