.course-study-page {
    padding: 50px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;

    h2 {
        font-size: 24px;
        color: #8a4baf;
        text-align: center;
    }

    h4 {
        font-size: 21px;
        color: #8a4baf;
        text-align: center;
    }

    h5 {
        font-size: 20px;
        color: #8a4baf;
        text-align: center;
    }

    a {
        text-decoration: none;
        background-color: white;;
        padding: 10px 50px;
        border: 2px solid black;
        border-radius: 5px;
        color: #8a4baf;

    }

    a:hover{
        background-color: #8a4baf;
        color: white;
    }
}